# Ambiente virtual
.venv/
venv/
.env/
env/

# Bytecode do Python
__pycache__/
*.pyc

# Checkpoints e metadados do Spark
checkpoints/
data/commits/
data/offsets/
data/sources/

# Arquivos temporários/logs
*.log
*.tmp

# VSCode
.vscode/

# MacOS
.DS_Store

# Jupyter notebooks
.ipynb_checkpoints/

# Variáveis de ambiente
.env
